.Input {
    height: 50px;
    margin-bottom: 10px;
    background-color: #1b1b32;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 15px;
}

